* {
    margin: 0;
    padding: 0;

}

body {
    background: rgba(236, 182, 101, 0.5);;
}



.main {
 
    display: flex;
    flex-direction: column;
   background: white;
   width: 450px;
   height: 965px;
   border-radius: 10px;
 text-align: center;

 
}

.destination-wrapper {
    margin-top: 500px;
}

#distance {
    width: 350px;

   top: 52%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
   font-size: 12px;;
   position: absolute;
   left: 12%;
   transform: translateX(-50%);
   
}

#destination {
    width: 350px;
    top: 60%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    position: absolute;
    left: 12%;
    border: 1px solid black;
    transform: translateX(-50%);
}

.offset {
    width: 350px;
    top: 68%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    position: absolute;
    left: 12%;
    border: 1px solid black;
    transform: translateX(-50%);
    background:  rgb(50, 185, 113);;
}

.offset:hover {
   background:  rgb(23, 126, 71);
}

.amount {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin-top: 50px;
}

#origin {
    width: 350px;
    top: 52%;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    position: absolute;
    left: 12%;
    border: 1px solid black;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}